@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.pagination {
  @include mixins.margin-top(0.5);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: variables.$color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: variables.$color-primary;
      }
    }
  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: variables.$color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: variables.$color-primary;
      }
    }
  }
}
