@use "sass:color";
@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.tags {
  @include mixins.margin-bottom(0);
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      display: inline-block;
      @include mixins.margin-top(0.75);
      margin-right: 15px;
      margin-bottom: 0;
      padding: 0;
      &-link {
        background: variables.$color-primary;
        text-decoration: none;
        font-weight: 500;
        border: 0;
        border-radius: 3px;
        color: variables.$color-background;
        padding: 8px 16px;
        &:hover,
        &:focus {
          color: variables.$color-background;
          background: color.adjust(variables.$color-primary, $lightness: -15%);
          border: 0;
        }
      }
    }
  }
}
