/** 
 * Variables
 */

// Colors
$themes: (
  light: (
    color-base: #222,
    color-primary: rgb(218, 7, 78),
    color-secondary: rgb(175, 6, 63),
    color-background: #fafafa,
  ),
  dark: (
    color-base: rgb(203, 213, 224),
    color-primary: rgb(218, 7, 78),
    color-secondary: rgb(175, 6, 63),
    color-background: hsl(230, 25%, 18%),
  ),
);

$color-base: #222;
$color-primary: rgb(218, 7, 78);
$color-secondary: rgb(175, 6, 63);
$color-background: #fafafa;

$color-base-dark: rgb(203, 213, 224);
$color-background-dark: hsl(230, 25%, 18%);

// Typographic
$typographic-font-family: "IBM Plex Sans", "system-ui", "-apple-system", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 20px;
$typographic-base-line-height: 1.625;
$typographic-leading: round(20 * (calc($typographic-root-font-size / 100)) * $typographic-base-line-height);

// Layout
$layout-width: 980px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
