@use "../variables";
@use "../mixins";

html {
  font-size: variables.$typographic-root-font-size;
}

body {
  font-family: variables.$typographic-font-family;
  line-height: variables.$typographic-base-line-height;
  font-size: variables.$typographic-base-font-size * 0.8;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: variables.$color-base;
  background-color: variables.$color-background;
  &.dark-theme {
    color: variables.$color-base-dark;
    background-color: variables.$color-background-dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$typographic-font-family;
  font-weight: 500;
}

h1 {
  font-size: variables.$typographic-base-font-size * 1.5;
  @include mixins.line-height(1.2);
  @include mixins.margin-top(0.5);
  @include mixins.margin-bottom(0.5);
}

h2 {
  font-size: variables.$typographic-base-font-size * 1.375;
  @include mixins.line-height(1.5);
  @include mixins.margin-top(0.5);
  @include mixins.margin-bottom(0.5);
}

h3 {
    font-size: variables.$typographic-base-font-size * 1.1;
    @include mixins.line-height(1);
    @include mixins.margin-top(0.5);
    @include mixins.margin-bottom(0.25);
}

h4,
h5,
h6 {
  font-size: variables.$typographic-base-font-size;
  @include mixins.line-height(1);
  @include mixins.margin-top(0.5);
  @include mixins.margin-bottom(0.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  border: 0;
  color: variables.$color-base;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
}

a {
  color: variables.$color-primary;
  text-decoration: none;
  font-weight: 500;
  &:hover,
  &:focus,
  &:active {
    color: variables.$color-secondary;
  }
  transition: all 0.3s ease-in-out 0s;
}

b,
strong {
  font-weight: 500;
}

ul {
  list-style: square;
  @include mixins.margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

p {
  @include mixins.line-height(0.8);
  @include mixins.margin-bottom(0.5);
}

pre {
  @include mixins.line-height(0.6);
    font-size: variables.$typographic-base-font-size * 0.7;
  @include mixins.breakpoint-sm {
    font-size: variables.$typographic-base-font-size * 0.8;
  }
}

code {
  background-color: #282c34;
  color: #abb2bf;
  border-radius: 3px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  .dark-theme & {
    color: variables.$color-base-dark;
    background-color: #282c34;
  }
}

code:before,
code:after {
    letter-spacing: -0.2em;
    content: " ";
}

pre code:before,
pre code:after {
    content: none;
}

blockquote {
  @include mixins.margin(1, 0);
  @include mixins.padding(0, 1);
  border-left: 5px solid variables.$color-base;
  .dark-theme & {
    border-left: 5px solid variables.$color-base-dark;
  }
}

figure {
  display: block;
  height: auto;
  margin: 0;
}

figcaption {
  @include mixins.line-height(0.75);
  @include mixins.margin(0.25, 0, 0.25, 0);
  font-size: variables.$typographic-base-font-size * 0.6;
  font-style: italic;
}

.layout {
  lost-center: variables.$layout-width;
  @include mixins.padding(0, 0.5, 0.5, 0.5);
}

.container {
  lost-utility: clearfix;
}

.sidebar {
  width: 100%;
  & p {
    font-size: variables.$typographic-base-font-size * 0.8;
    @include mixins.line-height(0.8);
  }
}

@include mixins.breakpoint-sm {
  body {
      font-size: variables.$typographic-base-font-size;
  }
  h1 {
    font-size: variables.$typographic-base-font-size * 2;
    @include mixins.line-height(1.6);
    @include mixins.margin-top(1);
    @include mixins.margin-bottom(0.5);
  }
  p {
    @include mixins.line-height(1);
    @include mixins.margin-bottom(0.5);
  }
  figcaption {
    font-size: variables.$typographic-base-font-size * 0.8;
  }
  .content {
    lost-column: 7/12;
  }
  .sidebar {
    @include mixins.margin-top(0.75);
    lost-column: 5/12;
  }
}

@include mixins.breakpoint-md {
  .content {
    lost-column: 2/3;
  }
  .sidebar {
    lost-column: 1/3;
  }
}
