html {
    font-size: $typographic-root-font-size;
}

body {
    font-family: $typographic-font-family;
    line-height: $typographic-base-line-height;
    font-size: $typographic-base-font-size * 0.8;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-base;
    background-color: $color-background;
    &.dark-theme {
        color: $color-base-dark;
        background-color: $color-background-dark;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $typographic-font-family;
    font-weight: 500;
}

h1 {
    font-size: $typographic-base-font-size * 1.5;
    @include line-height(1.2);
    @include margin-top(0.5);
    @include margin-bottom(0.5);
}

h2 {
    font-size: $typographic-base-font-size * 1.375;
    @include line-height(1.5);
    @include margin-top(0.5);
    @include margin-bottom(0.5);
}

h3 {
    font-size: $typographic-base-font-size * 1.1;
    @include line-height(1);
    @include margin-top(0.5);
    @include margin-bottom(0.25);
}

h4,
h5,
h6 {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-top(0.5);
    @include margin-bottom(0.5);
}

img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: inherit auto;
}

hr {
    border: 0;
    color: $color-base;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

a {
    color: $color-primary;
    text-decoration: none;
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
        color: $color-secondary;
    }
    transition: all 0.3s ease-in-out 0s;
}

b,
strong {
    font-weight: 500;
}

ul {
    list-style: square;
    @include margin-bottom(1);
    
    & li {
        padding: 0 5px;
        margin-bottom: 10px;
    }
}

p {
    @include line-height(0.8);
    @include margin-bottom(0.5);
}

pre {
    @include line-height(0.6);
    font-size: $typographic-base-font-size * 0.7;
    @include breakpoint-sm {
        font-size: $typographic-base-font-size * 0.8;
    }
}

blockquote {
    @include margin(1, 0);
    @include padding(0, 1);
    border-left: 5px solid $color-base;
    .dark-theme & {
        border-left: 5px solid $color-base-dark;
    }
}

figure {
    display: block;
    height: auto;
    margin: 0;
}

figcaption {
    @include line-height(0.75);
    @include margin(0.25, 0, 0.25, 0);
    font-size: $typographic-base-font-size * 0.6;
    font-style: italic;
}

.layout {
    lost-center: $layout-width;
    @include padding(0, 0.5, 0.5, 0.5);
}

.container {
    lost-utility: clearfix;
}

.sidebar {
    width: 100%;
    & p {
        font-size: $typographic-base-font-size * 0.8;
        @include line-height(0.8);
    }
}

@include breakpoint-sm {
    body {
        font-size: $typographic-base-font-size;
    }
    h1 {
        font-size: $typographic-base-font-size * 2;
        @include line-height(1.6);
        @include margin-top(1);
        @include margin-bottom(0.5);
    }
    p {
        @include line-height(1);
        @include margin-bottom(0.5);
    }
    figcaption {
        font-size: $typographic-base-font-size * 0.8;
    }
    .content {
        lost-column: 7/12;
    }
    .sidebar {
        @include margin-top(0.75);
        lost-column: 5/12;
    }
}

@include breakpoint-md {
    .content {
        lost-column: 2/3;
    }
    .sidebar {
        lost-column: 1/3;
    }
}
