@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.bio {
    padding: 20px 0;
    & p {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(1);
        @include margin-bottom(1);
    }
}

.contact-details {
    padding: 20px 0;
    &__title {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(.5);

    }
}

@include breakpoint-sm {
    .home-feature-grid {
        &__item {
            lost-column: 1/2;
        }
    }
}
