@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.bio p {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(1);
    @include margin-bottom(1);
}

.contact-details {
    @include margin-bottom(1.25);
    lost-utility: clearfix;
    &__column {
        lost-column: 1/2;
    }
    &__title {
        font-size: $typographic-base-font-size * 1.6875;
        @include line-height(1.5);
        @include margin-top(0);
        @include margin-bottom(.5);

    }
}