@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  @include mixins.margin-top(0.25);
  @include mixins.margin-bottom(0.25);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  @include mixins.themify(variables.$themes) {
    border-top-color: mixins.themed("color-base");
  }
  @include mixins.padding-bottom(0.5);

  &__title-link {
    @include mixins.themify(variables.$themes) {
      color: mixins.themed("color-base");
    }
  }

  &__title {
    font-size: variables.$typographic-base-font-size * 2;
    font-weight: 500;
    @include mixins.margin(0.75, 2, 0, 0);
  }

  &__nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    @include mixins.margin-top(0.75);
    @include mixins.margin-bottom(0);
  }

  &__nav-list-item {
    font-size: variables.$typographic-base-font-size * 1;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 0;
  }

  &__nav-list-item:first-child {
    margin-left: 0;
    padding-left: 0;
  }

  &__nav-item-link {
    @include mixins.themify(variables.$themes) {
      color: mixins.themed("color-base");
    }
  }
}
