@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.footer {
  font-size: variables.$typographic-base-font-size * 0.8;
  @include mixins.margin-top(1);
  border-top-style: solid;
  border-top-width: 1px;
  @include mixins.themify(variables.$themes) {
    border-top-color: mixins.themed("color-base");
  }
  @include mixins.padding(0.5, 0, 1, 0);
}
