@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.featured-article {
  padding: 15px 0;
  &__title-link {
    @include mixins.themify(variables.$themes) {
      color: mixins.themed("color-base");
      &:hover,
      &:focus {
        color: mixins.themed("color-primary");
      }
    }
  }
  &__title {
    @include mixins.line-height(1.1);
    @include mixins.margin-top(0);
    @include mixins.margin-bottom(0);
  }
  &__date {
    font-size: variables.$typographic-base-font-size * 0.75;
    @include mixins.margin-top(0.25);
    @include mixins.margin-bottom(0);
  }
  &__summary {
    @include mixins.margin-top(0.25);
    @include mixins.margin-bottom(0);
  }
}
